{% extends 'base.html.twig' %} 

{% block title %} Connexion!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class = "jumbotron">
                <h4> Enregistrement Utilisateur ! </h4>
    </div>

    <div class="container mt-4">

        {{ form_start(form) }}

            {{ form_row(form.username, {'label': 'Noms'}) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password, {'label': 'Mot de passe'}) }}

        <button type="submit" class="btn btn-primary"> Connexion </button>
        <br></br>
        <br></br>

        {{ form_end(form) }}
    </div>

{% endblock %}