{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

<div class = "jumbotron">
     <h2> Tous les articles disponibles!</h2>
</div>


<div class = "container m-4">
    
     <div class = "row">
          {% for article in articles%}
               <div class = "col-md-4">
                    <article>
                         <h5>{{ article.title}}</h5>
                        <div class = "metadata"> 
                              Ecrit le : {{ article.createdAt | date('d/m/Y') }} 
                                   <br> Categorie:  {{ article.categorie.titre }} </br>
                         </div>
                         <div class = "content">
                              <img src="https://via.placeholder.com/300x200" alt="">
                              {{ article.content }}
                              <a href="{{path('blog_show', {'id': article.id})}}" class="btn btn-primary"> Lire la suite </a>      
                              <p> </p>
                         </div>          
                    </article> 
               </div> 
          {% endfor %}         
     </div>
          <div class="pagination">
                     {{ knp_pagination_render(articles) }}
               </div>
{% endblock %}