{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% form_theme formCreatArt 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class = "jumbotron">
       <article>
            <h2> FORMULAIRE D'ENREGISTREMENT DE NOUVEL ARTICLE </h2>
            <div class = "metadata"> 
                <p>Ecrit le:  21/10/2019 </p>
                <p> Dans la Categorie: </p>
            </div>         
       </article>      
</div>
<div class="container">


{# {{ form_widget(formCreatArt) }} #}

{{ form_start(formCreatArt) }}

    {{ form_row(formCreatArt.title, {attr: {'placeholder': 'Titre' }}) }}
    {{ form_row(formCreatArt.content, {attr: {'placeholder': "Contenu" }}) }}
    {{ form_row(formCreatArt.image, {attr: {'placeholder': "Image" }}) }}

 <button type="submit" class="btn btn-success"> Ajouter cet article</button>
 
{{ form_end(formCreatArt) }}

</div>


{% endblock %}